$color :#ffe600;

html {
    width      : 100%;
    height     : 100%;
    font-weight: 200;

    body {
        font-size  : 14px;
        font-family: "Proxima Nova", -apple-system, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif, sans-serif;
        width      : 100%;
        height     : 100%;
        margin     : 0;
        padding    : 0;
        overflow   : scroll;

        .content-page {
            border-collapse : collapse;
            display         : table;
            background-color: #fff;
            table-layout    : fixed;
        }

        .App {
            height: 100%;

        }

      
    }
}

.content {
    background-color: whitesmoke;
    height          : auto;
    padding         : 1px 20vw;


    .content-card {
        background-color: white;
        margin          : 10px;
        padding         : 0px 10px;
        border-radius   : 3px;

        .card {
            border-bottom: 1px solid #efeee3;

            &:last-child {
                border-bottom: none;
            }
        }
    }

    .content-detail {
        background-color: white;
        margin          : 10px;
        border-radius   : 3px;
    }
}