.content {
    background-color: whitesmoke;
    height          : 120vh;
    padding         : 1px 20vw;


    .content-card {
        background-color: white;
        margin          : 10px;
        padding         : 0px 10px;
        border-radius   : 3px;

        .card {
            border-bottom: 1px solid #efeee3;

            &:last-child {
                border-bottom: none;
            }
        }
    }
}